### Housing Prices Analytics
#### Topic: Analyze previous year's home price in Los Angeles
    Katherine Le and Miranda Rendon

In [ ]:
# import packages
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# load datasets
prices = pd.read_csv("MedianPricesofExistingDetachedHomesHistoricalData.csv")
timeOnMarket = pd.read_csv("MedianTimeonMarketofExistingDetachedHomesHistoricalData.csv")
unsoldInv = pd.read_csv("UnsoldInventoryIndexofExistingDetachedHomesHistoricalData.csv")

In [6]:
# get LA data from each set in a new df
housingData = pd.DataFrame({
    'Mon-Yr' : prices['Mon-Yr'],
    'Median Price' : prices['Los Angeles'],
    'Median Time on Market' : timeOnMarket['LA'],
    'Unsold Inventory' : unsoldInv['Los Angeles']

})

# remove incomplete 2024 data
housingData = housingData.iloc[:-8]

housingData

     Mon-Yr Median Price  Median Time on Market  Unsold Inventory
0    Jan-90     $215,338                   75.3              13.2
1    Feb-90     $208,399                   80.5              22.1
2    Mar-90     $208,135                   70.3              16.8
3    Apr-90     $219,004                   75.0              17.1
4    May-90     $209,065                   77.4              17.1
..      ...          ...                    ...               ...
403  Aug-23     $882,010                   18.0               2.4
404  Sep-23     $914,640                   19.0               2.7
405  Oct-23     $893,650                   21.0               2.8
406  Nov-23     $897,990                   20.0               2.9
407  Dec-23     $853,340                   23.0               2.6

[408 rows x 4 columns]